[submodule "a-quote-a-day"]
	path = a-quote-a-day
	url = https://github.com/alfredpp/a-quote-a-day.git
[submodule "edureka-iLoveMyCity-ejs"]
	path = edureka-iLoveMyCity-ejs
	url = git@github.com:alfredpp/edureka-iLoveMyCity-ejs.git
[submodule "edureka-iLoveMyCity-hbs"]
	path = edureka-iLoveMyCity-hbs
	url = git@github.com:alfredpp/edureka-iLoveMyCity-hbs.git
[submodule "edureka-jade-app"]
	path = edureka-jade-app
	url = git@github.com:alfredpp/edureka-jade-app.git
[submodule "edureka-LeaveTheMarks"]
	path = edureka-LeaveTheMarks
	url = git@github.com:alfredpp/edureka-LeaveTheMarks.git
[submodule "edureka-chat-application"]
	path = edureka-chat-application
	url = git@github.com:alfredpp/edureka-chat-application.git
[submodule "edureka-grunt-gulp"]
	path = edureka-grunt-gulp
	url = git@github.com:alfredpp/edureka-grunt-gulp.git
